nav > ul > li {
  list-style: none;
}

nav > ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

button.home-button {
  background-color: steelblue;
  color: white;
}

h1 {
  color: red;
}
